@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --header-height: 96px;
  --footer-height: 96px;
}

.main-content-height {
  height: calc(100vh - var(--header-height) - var(--footer-height));
}

body {
  margin: 0;
}


/* Colors */

@theme {
  --color-primary: #0d2c1a;
  --color-background: #ecf8e3;
}






